<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appmovil_rest_con">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AuthorActivty"/>
        <activity android:name=".RestorationActivity"/>
        <activity android:name=".TechniqueActivty"/>
        <activity android:name=".PieceActivty"/>
        <activity android:name=".MuseumActivity"/>
        <activity android:name=".MovementActivty"/>
    </application>

</manifest>